@using web.ViewComponents
@model IEnumerable<DayAppointments.Appointment> 

<section class="col-lg-8">
    <h1>Compromissos do dia:</h1>
    <table class="table table-hover">
        <thead>
            <tr>
            <th>Horário</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(DayAppointments.Appointment appointment in Model)
            {
                <tr>
                    <td>@appointment.AppointmentTime</td>
                    <td>@appointment.Title</td>
                    <td><button class="btn btn-sm btn-default">@appointment.UpdateButton</button></td>
                    <td><button class="btn btn-sm btn-default">@appointment.DeleteButton</button></td>
                </tr>
            }          
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
                <button id="btnVerTodos" class="btn btn-md btn-default">Ver Todos</button>
        </div>
    </div>
</section>