@using web.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a class="btn btn-md btn-default" asp-action="Index">Perfil</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a class="btn btn-md btn-default" asp-action="ChangePassword">Senha</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a class="btn btn-md btn-default" asp-action="ExternalLogins">Logins externos</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a class="btn btn-md btn-default" asp-action="TwoFactorAuthentication">Autenticação de dois fatores</a></li>
</ul>

